{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
<div class="row main-content">
  <div class="offset2 span8 zone-content">
    <ul class="blog-posts">
    {% for article in (articles_page.object_list if articles_page else articles) %}
    <li>
      <div class="published">{{ article.locale_date }}</div>
      <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
      <p>
	{{ article.summary }}
      </p>
    </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

{% if articles_page and articles_paginator.num_pages > 1 %}
{% include 'pagination.html' %}
{% endif %}

{% endblock content %}
