{% extends "base.html" %}
{% block content %}

<div class="row main-content">
  <div class="offset2 span8 zone-content">

    <!-- content -->
    {{ page.content }}

    <!-- map -->
    <img src="/static/images/map.png" />

  </div>
</div>

<!-- Countdown -->
<div class="row">
  <div class="span6 offset3">

    <!-- countdown -->
    <h4>Until next time...</h4>
    <div id="DIV_TO_PLACE_COUNTDOWN"></div>
    <script>
    jQuery(document).ready(function(){
      jQuery("#DIV_TO_PLACE_COUNTDOWN").jCountdown({
	timeText:"2013/11/28 00:00:00",
	timeZone:-5,
	style:"metal",
	color:"black",
	width:0,
	textGroupSpace:15,
	textSpace:0,
	reflection:false,
	reflectionOpacity:10,
	reflectionBlur:0,
	dayTextNumber:3,
	displayDay:true,
	displayHour:true,
	displayMinute:true,
	displaySecond:false,
	displayLabel:true,
	onFinish:function(){
	  alert("finish");
	}
      });
    });
    jQuery("#DIV_TO_PLACE_COUNTDOWN").jCountdown("start");
    </script>

  </div>
</div>

{% endblock %}
